*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}

:root {
  margin: 0;
  height: 100%;
  font-size: 16px;

  --main-bg-color: #fff7ed;
  --darker-bg-color: #ffedd5;
  --main-font-color: #dc2626;
  --font-color-pressed: #b91c1c;
  --green: #bbf7d0;
}

body {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding-top: 50px;
}

.headline {
  font-size: 4rem;
  color: var(--main-font-color);
}

.player-turn {
  font-size: 2rem;
  color: var(--main-font-color);
}

/* Game grid */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-grid.showed {
  display: grid;
  background: #000;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 5px;
}

.game-grid > div {
  background: var(--main-bg-color);
  display: grid;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
}

.game-grid > div:hover {
  background: var(--darker-bg-color);
  cursor: pointer;
}

/* Winner/Draw banner */
.show-winner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: grid;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-size: 2.5rem;

  z-index: 1;
}

/* Player buttons */
.button-container {
  width: 350px;
  height: 200px;
  position: absolute;
}

.button-container > button {
  position: absolute;
  cursor: pointer;
}

.human1,
.human2,
.ai1,
.ai2 {
  height: 50px;
  width: 100px;
  border: solid 1px var(--main-font-color);
  color: var(--main-font-color);
  background: var(--main-bg-color);
  font-size: 1.2rem;
}

.human1:hover,
.human2:hover,
.ai1:hover,
.ai2:hover {
  background: var(--darker-bg-color);
}

.human1.pressed,
.human2.pressed,
.ai1.pressed,
.ai2.pressed {
  background: var(--green);
}

.human1 {
  top: 0;
  left: 0;
}

.ai1 {
  top: 70px;
  left: 0;
}

.human2 {
  top: 0;
  right: 0;
}

.ai2 {
  top: 70px;
  right: 0;
}

.start-game {
  bottom: 0;
  left: 0;
  right: 0;

  height: 35px;
  border: none;
  background: var(--main-font-color);
  color: var(--main-bg-color);
  font-size: 1.2rem;
}

.start-game:hover {
  background: var(--font-color-pressed);
}

/* Reset button */
.reset-button {
  position: absolute;
  cursor: pointer;
  bottom: -70px;
  left: 0;
  right: 0;

  height: 35px;
  border: none;
  background: var(--main-font-color);
  color: var(--main-bg-color);
  font-size: 1.2rem;
}

.reset-button:hover {
  background: var(--font-color-pressed);
}
